$overlay: url('../images/mega-menu/overlay.png');
$menu-border-radius: 6px;
$navigation-font: 'Minion Pro';

header[role="banner"] .banner__inner {
	position:relative;
}
.megamenu {
	position:absolute;
	background:#fff;
	border-bottom-right-radius: $menu-border-radius;
	border-bottom-left-radius: $menu-border-radius;
	left:15px;
	right:30px;
	top:115px;
	z-index:100;
	  font-family:$navigation-font;
	  display:none;
}

.megamenu-content-hover {
	background:$overlay;
	position:absolute;
	width:100%;
	height:100%;
	z-index:99;
	top:-100px;
	display:none;
}

@media(min-width:992px){
	.megamenu-content-hover {
	top:0;
	}
}
.container-fluid--grey {
	position:relative;
}


.megamenu__navigation {

	padding:46px 30px;

	ul{
		list-style:none;
		margin:0;
		padding:0;
	}

	ul	li {
		
	}
	ul li a {
		color:#333;
		display:block;
		border-bottom:1px solid #e5e5e5;
		font-size:18px;
		font-family: $navigation-font;
		padding:10px 5px 10px 24px;
		background:url('../images/mega-menu/normal-arrow.png') no-repeat 12px 13px;
	}
	ul li a:hover,
	ul li.active a {
		color:#fff;
		background:#00946c url('../images/mega-menu/hover-arrow.png') no-repeat 12px 13px;
		text-decoration:none;

	}
}
.megamenu__item {
	display:none;
}

.megamenu__content {
	background:#f5f5f5;
}



.megamenu__block {
	padding:46px 20px;

}
.megamenu__block:last-child {
	border-bottom-right-radius: $menu-border-radius;

}
.megamenu__block__holder--first {
border-left:1px solid #e5e5e5;
	background:#f5f5f5;

}
.megamenu__block__holder--last {
	border-left:1px solid #e5e5e5;
		background:#f5f5f5;
		border-bottom-right-radius: $menu-border-radius;

}


.megamenu__block--title {
	font-size:26px;
	font-family: $navigation-font;
}

.megamenu__block--image {
	padding-top:20px;
	

	img {
	max-width:100%;
	}
}


.megamenu__block--description {
	font-size:14px;
	color:#333;
	padding:20px 0 0;
}


 /* MOBILE NAVIGATION */
 #mobile__navigation {}
 .main-navigation {
 	display:none;
 }
 @media(min-width:992px){
  #mobile__navigation {
  	display:none;
 }
  .main-navigation {
 	display:block;
 }
 }
.toggle-main-navigation:hover,
.toggle-main-navigation:focus {
	text-decoration:none;
}

.website__hoder {
	  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

.website__hoder.open {
	margin-left:-90%; 
	margin-right:90%;

}


#mobile__navigation {
  background: #ffffff;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -90%;
  top: 0;
  width: 90%;
  z-index: 2000;



}
#mobile__navigation.open {
	right:0;

}
.mobile__navigation--inner {
	width:100%;
}

.mobile__navigation__header {
	height:50px;
	background:#00946c;
	width:100%;
}

.mobile__navigation__header--title {
	float:left;
	padding:14px 20px;
}

.mobile__navigation__header--close {
	float:right;
	width:50px;
	height:50px;
}


.mobile__navigation--menu {
	padding:32px 12px;

	ul {
	list-style:none;
	margin:0;
	padding:0;
}
ul li {}
ul li a {
	color:#333;
	display:block;
	padding:13px;
	border-bottom:1px solid #e5e5e5;
		font-size:18px;
		font-family: $navigation-font;
}
ul li.active a {
	color:#00946c;
}
ul li a.has__submenu{
	background:url('../images/mobile-menu/plus.png') no-repeat 97% center;
}
ul li a.has__submenu.opened{
	background:#00946c url('../images/mobile-menu/minus.png') no-repeat 97% center;
	color:#fff;
}
ul li a:hover
 {
text-decoration:none;
color:#01936c;
}
ul li a:focus{
	text-decoration:none;
}
ul li ul.submenu {
	display:none;
}
ul li ul.submenu.opened {
	display:block;
}
ul li ul.submenu li a {
	background:#f5f5f5
}
}

